@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
background: linear-gradient(0deg, rgba(247,215,215,1) 0%, rgba(190,240,228,1) 30%);

}

.main_title{
    display: flex;
    font-family: IM FELL English;
    color: #4A715E;
    font-size: 50px;
    line-height: 63.43px;
    align-items: center;
    justify-content: center;
    background: #629482;
    position: absolute;
    width: 699px;
    padding: 20px;
    text-align: center;
    height: 172px;
    left: 295px;
    top: 240px;

}

.header{
    background-color: #EF5DA8;
    width: 100%;
    height: 98px;
    position: absolute;
    top: 0;
}

h1{
    display: flex;
    justify-content: center;
    color: #BEF0E4;
    font-family: IM FELL Great Primer SC;
    font-size: 50px;
}
.Miku1{
    z-index: 1;
    width: 566px;
    margin-top: 93px;
    position: absolute;
    left: 126px;
    top: 211px;
    padding-left: 40px;

}
.Miku2{
    z-index: 1;
    width:566px;
    position: absolute;
    margin-left: 788px;
    margin-top: 68px;
}

.Star{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 35px;
    top: 6px;
    margin-bottom: 8px;
}

.LUKA{
    display: flex;
    margin-top: 100px;
}

.Luka_image{
    z-index: 1;
    margin-left: 360px;
}

.voca_text{
    padding: 11px 76px 16px 12px ;
    width: 370px;
    font-size: 20px;
    text-align: center;
    font-family: 'Post No Bills Colombo SemiBold';
    color: #D9D9D9;
    background-color: #EF5DA8;
}

.voca_main{
    height: 773px;
    left: 0px;
    top: 99px
}


.write_star{
    position: absolute;
    height: 50px;
}

.romeocinderella{
    height: 300px;
}

.Nightfever{
    height:300px;
}
.Popipo{
    height: 300px;
}

.voca{
    position: absolute;
    left: 0px;
}

.song_text{
    position: relative;
    display: block;
    padding: 73px 66px 56px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    margin-left: 499px;
    text-align: center;
    margin-top: 79px;
    background-color: #EF5DA8;
}

.song_star{
    position: absolute;
    height: 100px;
    background-color: #EF5DA8;
    left: 23px;
    top: 35px;
}

.container_img{
    display: flex;
    justify-content: space-around;
    margin-top: 136px;
    align-items: center;
}

.ending{
    margin-top: 132px;
}
.IA{
    position: absolute;
    z-index: 1;
    margin-left: 955px;
}

.ending_text{
    position: relative;
    display: block;
    padding: 72px 66px 55px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    margin-left: 499px;
    text-align: center;
    margin-top: 79px;
    background-color:#EF5DA8;
}

.ending_star{
    position: absolute;
    height: 100px;
    background-color: #EF5DA8;
    left: 500px;
    top: 2600px;

}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
background: linear-gradient(0deg, rgba(247,215,215,1) 0%, rgba(190,240,228,1) 30%);

}

.main_title{
    display: flex;
    font-family: IM FELL English;
    color: #4A715E;
    font-size: 50px;
    line-height: 63.43px;
    align-items: center;
    justify-content: center;
    background: #629482;
    position: absolute;
    width: 699px;
    padding: 20px;
    text-align: center;
    height: 172px;
    left: 295px;
    top: 240px;

}

.header{
    background-color: #EF5DA8;
    width: 100%;
    height: 98px;
    position: absolute;
    top: 0;
}

h1{
    display: flex;
    justify-content: center;
    color: #BEF0E4;
    font-family: IM FELL Great Primer SC;
    font-size: 50px;
}
.Miku1{
    z-index: 1;
    width: 566px;
    margin-top: 93px;
    position: absolute;
    left: 126px;
    top: 211px;
    padding-left: 40px;

}
.Miku2{
    z-index: 1;
    width:566px;
    position: absolute;
    margin-left: 788px;
    margin-top: 68px;
}

.Star{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 35px;
    top: 6px;
    margin-bottom: 8px;
}

.LUKA{
    display: flex;
    margin-top: 100px;
}

.Luka_image{
    z-index: 1;
    margin-left: 360px;
}

.voca_text{
    padding: 11px 76px 16px 12px ;
    width: 370px;
    font-size: 20px;
    text-align: center;
    font-family: 'Post No Bills Colombo SemiBold';
    color: #D9D9D9;
    background-color: #EF5DA8;
}

.voca_main{
    height: 773px;
    left: 0px;
    top: 99px
}


.write_star{
    position: absolute;
    height: 50px;
}

.romeocinderella{
    height: 300px;
}

.Nightfever{
    height:300px;
}
.Popipo{
    height: 300px;
}

.voca{
    position: absolute;
    left: 0px;
}

.song_text{
    position: relative;
    display: block;
    padding: 73px 66px 56px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    margin-left: 499px;
    text-align: center;
    margin-top: 79px;
    background-color: #EF5DA8;
}

.song_star{
    position: absolute;
    height: 100px;
    background-color: #EF5DA8;
    left: 23px;
    top: 35px;
}

.container_img{
    display: flex;
    justify-content: space-around;
    margin-top: 136px;
    align-items: center;
}

.ending{
    margin-top: 132px;
    height: 75vh;
}
.IA{
    position: absolute;
    z-index: 1;
    margin-left: 955px;
}

.ending_text{
    position: relative;
    display: block;
    padding: 72px 66px 55px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    margin-left: 499px;
    text-align: center;
    margin-top: 79px;
    background-color:#EF5DA8;
}

.ending_star{
    position: absolute;
    height: 100px;
    background-color: #EF5DA8;
    left: 510px;
    top: 2600px;

}

a{
background: #EF5DA8;
font-weight: 700;
font-size: 18px;
color: #abdecc;
margin-right: 30px;
padding:10px 22px;
position: relative;
text-decoration: none;
}
a::before{
content: '';
width: 100%;
height: 100%;
position: absolute;
background-color: #aadfec;
z-index: -1;
top: -4px;
left: -4px;
}

a::after{
content: '';
background-color: #ffa9a9;
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
bottom: -4px;
right: -4px;
}

