*{
    padding: 0;
    margin: 0;
}
body{
    background: radial-gradient(circle, rgba(255,249,218,1) 0%, rgba(245,162,182,1) 100%);
    width: 100%;
}

header{
    list-style: none;
    width: 100%;
   
}

ul{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color:#ff5eb1;
    background-size: 150px;
    font-size: 30px;
    padding: 10px;
}

a{
    color: rgb(107, 250, 202);
    text-decoration: none;
}

.info_luka{
    display: flex;
    justify-content: start;
    margin-top: 170px;
    font-style: italic;
    color: rgb(210, 227, 255);
    background-color: #fa5cae;
    font-size: 30px;
}
.top{
    border:5px outset #ff2cb9
}
.songs{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-style: oblique;
    color: rgb(181, 255, 238);
    font-size: 19px;
    margin-top: 99px;
    background-color: #EF5DA8;
    margin-bottom: 30px;
}

h1{
    font-size: 33px;
    font-style: italic;
    padding: 50px;
    color: rgb(164, 238, 202);
    padding: 11px 76px 16px 12px ;
    width: 570px;
    text-align: center;
    background-color: #EF5DA8;
    margin-top: 56px;
}

.galery{
    width: 100%;
    background-color: #EF5DA8;
}
.container_galery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    height: 70vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: rgb(176, 251, 221);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    }
.slide.active{
        flex: 3;
    }

.galery_text{
    font-style: italic;
    color: rgb(184, 255, 231);
    text-align: center;
    font-size: 26px;
    background-color: #EF5DA8;
    width: 80vh;
    margin: 0 auto;
    padding: 10px;
}
.songs_audio{
    display: flex;
    margin-top: 34px;
}

.songs_text{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: aqua;
    background-color: #EF5DA8;
    margin-top: 41px;
}
.Song_luk{
    height: 80vh;
}

.ending{
    display: flex;
    margin-top: 49px;
}
.end_text{
    display: block;
    padding: 72px 66px 55px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    text-align: center;
    background-color:#EF5DA8;
}

a{
    text-decoration: none;
    color: rgb(167, 234, 234);
}

