@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(0deg, rgba(148,136,255,1) 0%, rgba(33,255,202,1) 100%);
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    color: rgb(107, 250, 202);
    background-color:#EF5DA8;
    background-size: 150px;
    font-size: 30px;
    padding: 10px;
}
.info_miku{
    display: flex;
    justify-content: start;
    margin-top: 130px;
}
.miku{
    position: absolute;
    z-index: 1;
    height: 400px;
    left: 545px;
}

.infomiku{
    font-size: 33px;
    font-style: italic;
    padding: 50px;
    color: rgb(164, 238, 202);
    padding: 11px 76px 16px 12px ;
    width: 570px;
    text-align: center;
    background-color: #EF5DA8;
}

.songs{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.top_songs{
    font-style: oblique;
    color: rgb(181, 255, 238);
    font-size: 19px;
    margin-top: 99px;
    background-color: #EF5DA8;
    margin-bottom: 30px;
}
.galery{
    width: 100%;
    background-color: #EF5DA8;
}
.container_galery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    height: 70vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: rgb(176, 251, 221);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    }

.slide.active{
    flex: 3;
}

.item{
    border:5px outset #c29eb6 ;
    margin: 10px;
}
h1{
text-align: center;    
}
.galery_text{
    font-style: italic;
    color: rgb(184, 255, 231);
    text-align: center;
    font-size: 26px;
    background-color: #EF5DA8;
    width: 80vh;
    margin: 0 auto;
    padding: 10px;
}

.Sakura_miku{
    display: flex;
    font-family: 'Dancing Script', cursive;
    color: rgb(196, 255, 255);
    margin-top: 34px;
    margin: 0 auto;
    max-width: 2000px;
}

.SAKURAMIKU{
    background-color: #EF5DA8;
    margin: 10px;
}
.SAKURA{
    background-color: #EF5DA8;
    margin: 10px;
}

.Miku_sakur{
    width: 150%;
    object-fit: cover; 
    background-size: cover;
}


.galery_sk{
    width: 100%;
    background-color: #EF5DA8;
}

.galerysk_text{
    color: rgb(184, 255, 231);
    text-align: center;
    font-size: 26px;
    background-color: #EF5DA8;
    width: 80vh;
    margin: 0 auto;
    padding: 10px;
}

.songs_audio{
    display: flex;
    margin-top: 34px;
}

.songs_text{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: aqua;
    background-color: #EF5DA8;
    margin-top: 41px;
}
p{
    font-size: 25px;
    font-style: italic;
    padding: 15px;
}

.Song_mik{
    height: 80vh;
}
.ending{
    display: flex;
    margin-top: 49px;
}
.end_text{
    display: block;
    padding: 72px 66px 55px 55px;
    font-family: Poppins;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 50px;
    width: 659px;
    text-align: center;
    background-color:#EF5DA8;
}

a{
    text-decoration: none;
    color: rgb(167, 234, 234);
}

